@font-face{
	font-family: gameOfThrones;
	src: url(GoT.ttf);
}

body{
	background: url(../images/gotpic2.jpg);
}

#container{
	opacity: 0.3;
}



h1{
	font-family: "gameOfThrones";
	text-align: center;
}

#hiddenWord{
	color:green;
	

}

#hint, #word, #results{

	border: 2px solid black;
	height: 300px;
}
#hint, #word, #wins, #lettersGuessed, #losses{
	text-align: center;
}
